{% extends 'base.html' %}

{%block title%}About{% endblock title%}
{%block body%}

<h2 style="text-align :center">About Us</h2>
<p style="text-align :center">
we are a team of 4 from TE INFT B
</p>
<div class="row row-cols-2 row-cols-md-4 g-4 pt-4 ps-5 pe-5 pb-4">
  <div class="col ps-5 pe-5">
    <div class="card h-100 " ><a href="#" class="text-decoration-none" >
      {% comment %} <img src="images/AditeeKore.jpg" class="card-img-top" alt="..." > {% endcomment %}
      <div class="image-parent">
     <img src="https://ieee.vit.edu.in/assets/images/CreativesHead_AditeeKore1.jpg" class="img-fluid" alt="">
      </div>
      <div class="card-body">
        <h6 class="card-title" style="color:black">Aditee Kore</h6>
        <p style="color:black"> TE INFT B</p>
      </div>
    </a></div>
  </div>
  <div class="col ps-5 pe-5">
    <div class="card h-100" ><a href="#" class="text-decoration-none" >
      <img src="https://media-exp1.licdn.com/dms/image/C4E03AQGiRz7xkcGc4g/profile-displayphoto-shrink_200_200/0/1628006101324?e=1634774400&v=beta&t=-0gIJISStMoihxkKKwHHWMZLYWRCgFtLAM8z0trCsqA" class="card-img-top" alt="...">
      <div class="card-body">
        <h6 class="card-title" style="color:black">Srushti Waingade</h6>
        <p style="color:black"> TE INFT B</p>
      </div></a>
    </div>
  </div>
  <div class="col ps-5 pe-5">
    <div class="card h-70" ><a href="#" class="text-decoration-none" >
      <img src="https://verve-vit.in/images/student-council/Hrishika_Samani.webp" class="card-img-top" style=" " alt="...">
      <div class="card-body">
        <h6 class="card-title" style="color:black">Hrishika Samani</h6>
        <p style="color:black"> TE INFT B</p>
      </div></a>
    </div>
  </div>
  <div class="col ps-5 pe-5">
    <div class="card h-70" ><a href="#" class="text-decoration-none">
      <img src="https://pbs.twimg.com/profile_images/1386274807902130177/UjHXug4Z.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h6 class="card-title" style="color:black">Dharmil Karia</h6>
        <p style="color:black"> TE INFT B</p>
      </div></a>
    </div>
  </div>

</div>
{% endblock body%}