{% extends 'base.html' %}

{%block title%}Booking{% endblock title%}
{%block body%}

<h2 align="center">Book your slot here.</h2>

<div class="container-md p-4 mb-5 ms-5 ">
    <form method="post" action="/booking">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="event_name">Event Name</label>
                <input type="text" class="form-control" id="event_name" name="event_name" placeholder="Event Name">
            </div>
            <div class="form-group col-md-5">
                <label for="lab_no">Lab No</label>
                <select class="form-select" id="lab_no" name="lab_no" aria-label="Default select example">
                <option selected>Select the Lab No</option>
                    {%for result in Booking_Labs%} 
                    <option>{{result.sub_lab_name}}
                    <option>
                    {%endfor%}
                </select>
            </div>
        </div>
        <div class="form-group col-md-5">
            <label for="slot_time">Slot Time</label>
            <select class="form-select" id="slot_time" name="slot_time" placeholder="Slot Time">
                <option selected>Choose...</option>
                <option >9:00 - 10:00</option>
                <option >10:00 - 11:00</option>
                <option >11:15 - 12:15</option>
                <option >12:15 - 13:15</option>
                <option >13:45 - 14:45</option>
                <option >14:45 - 15:45</option>
                <option >15:45 - 16:45</option>
                <option >17:00 - 20:00</option>
            </select>
        </div>

        <div class="form-group col-md-5">
            <label for="slot_date">Slot Date</label>
            <input type="date" class="form-control" id="slot_date" name="slot_date" placeholder="Slot Date">
        </div>
        <div class="form-group col-md-5">
            <label for="booked_by">Booked by</label>
            <select class="form-control" id="booked_by" name="booked_by" placeholder="Booked by">
                {%for result in User%}
                <option>{{result.username}}
                <option>
                    {%endfor%}
            </select>
        </div>
        <div class="text-center p-2">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
</div>
</form>
</div>
<div clas="padding-bottom">
</div>



{% endblock body%}