{% extends 'base.html' %}

{%block title%}Home {% endblock title%}
{%block body%}

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100"><a href="/labcc" class="text-decoration-none" >
      <img src="https://source.unsplash.com/jXd2FSvcRr8/1600x900" class="card-img-top" alt="..." >
      <div class="card-body">
        <h5 class="card-title">LAB CC</h5>
        <p class="card-text">This is the first year department.</p>
      </div>
    </a></div>
  </div>
  <div class="col">
    <div class="card h-100" class="card h-100"><a href="/lab7" class="text-decoration-none" >
      <img src="https://source.unsplash.com/cP12Rfh97Q4/1600x900" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">LAB 7</h5>
        <p class="card-text">This is a short card.</p>
      </div></a>
    </div>
  </div>
  <div class="col">
    <div class="card h-100" class="card h-100"><a href="/lab5" class="text-decoration-none" >
      <img src="https://source.unsplash.com/hvSr_CVecVI/1600x900" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">LAB 5</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div></a>
    </div>
  </div>
  <div class="col">
    <div class="card h-100" class="card h-100"><a href="lab11" class="text-decoration-none">
      <img src="https://source.unsplash.com/aQYgUYwnCsM/1600x900" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">LAB 11</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div></a>
    </div>
  </div>
  <div class="col">
    <div class="card h-100" class="card h-100"><a href="/labm" class="text-decoration-none">
      <img src="https://source.unsplash.com/JyRTi3LoQnc/1600x900" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">LAB M</h5>
        <p class="card-text">This is a short card.</p>
      </div></a>
    </div>
  </div>
</div>


{% endblock body%}