{% extends 'base.html' %}

{%block title%}Home {% endblock title%}
{%block body%}

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100"><a href="/firstyear" class="text-decoration-none" >
      <img src="https://media-exp1.licdn.com/dms/image/C511BAQHu2Pn4c6EQxg/company-background_10000/0/1566455053734?e=2159024400&v=beta&t=SV-lCdBEVtlF5fTS3K_FZI2c0g2gmjCLncHOGNH_FfE" class="card-img-top" alt="..." >
      <div class="card-body">
        <h5 class="card-title">First Year</h5>
        <p class="card-text">This is the first year department.</p>
      </div>
    </a></div>
  </div>
  <div class="col">
    <div class="card h-100" class="card h-100"><a href="/inft" class="text-decoration-none" >
      <img src="https://source.unsplash.com/iar-afB0QQw/1600x900" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Information Technology</h5>
        <p class="card-text">This is a short card.</p>
      </div></a>
    </div>
  </div>
  <div class="col">
    <div class="card h-100" class="card h-100"><a href="/cmpn" class="text-decoration-none" >
      <img src="https://source.unsplash.com/hvSr_CVecVI/1600x900" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Computer Science</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div></a>
    </div>
  </div>
  <div class="col">
    <div class="card h-100" class="card h-100"><a href="/etrx" class="text-decoration-none">
      <img src="https://source.unsplash.com/aQYgUYwnCsM/1600x900" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Electronics</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div></a>
    </div>
  </div>
  <div class="col">
    <div class="card h-100" class="card h-100"><a href="/extc" class="text-decoration-none">
      <img src="https://source.unsplash.com/JyRTi3LoQnc/1600x900" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Electronics and Telecommunication</h5>
        <p class="card-text">This is a short card.</p>
      </div></a>
    </div>
  </div>
  <div class="col">
    <div class="card h-100" class="card h-100"><a href="/biomed" class="text-decoration-none">
      <img src="https://source.unsplash.com/bcqDxjddPGk/1600x900" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Biomedical</h5>
        <p class="card-text">This is a short card.</p>
      </div></a>
    </div>
  </div>
</div>


{% endblock body%}