{% extends 'base.html' %}

{%block title%}INFT SE {% endblock title%}
{%block body%}

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100" class="card h-100"><a href="/inftses3" class="text-decoration-none">
      <img src="" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Sem 3</h5>
        <p class="card-text">This is a short card.</p>
      </div></a>
    </div>
  </div>
  <div class="col">
    <div class="card h-100" class="card h-100"><a href="/inftses4" class="text-decoration-none">
      <img src="" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Sem 4</h5>
        <p class="card-text">This is a short card.</p>
      </div></a>
    </div>
  </div>
</div>
{% endblock body%}