{% extends 'base.html' %}

{%block title%}INFT SE {% endblock title%}
{%block body%}

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100"><a href="/ip" class="text-decoration-none" >
      <img src="" class="card-img-top" alt="..." >
      <div class="card-body">
        <h5 class="card-title">IP</h5>
        <p class="card-text">This is the first year department.</p>
      </div>
    </a></div>
  </div>
  <div class="col">
    <div class="card h-100" class="card h-100"><a href="/security" class="text-decoration-none" >
      <img src="https://source.unsplash.com/iar-afB0QQw/1600x900" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Security</h5>
        <p class="card-text">This is a short card.</p>
      </div></a>
    </div>
  </div>
  <div class="col">
    <div class="card h-100" class="card h-100"><a href="/devop_advdevop" class="text-decoration-none" >
      <img src="" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Dev OPs Adv Dev OPs</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div></a>
    </div>
  </div>
  <div class="col">
    <div class="card h-100" class="card h-100"><a href="/miniproject5" class="text-decoration-none">
      <img src="" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Miniproject</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div></a>
    </div>
  </div>
  <div class="col">
    <div class="card h-100" class="card h-100"><a href="/pce" class="text-decoration-none">
      <img src="" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">PCE</h5>
        <p class="card-text">This is a short card.</p>
      </div></a>
    </div>
  </div>
</div>
{% endblock body%}