{% extends 'base.html' %}

{%block title%}INFT SE {% endblock title%}
{%block body%}

{% comment %} <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100"><a href="/miniproject3" class="text-decoration-none" >
      <img src="" class="card-img-top" alt="..." >
      <div class="card-body">
        <h5 class="card-title">Mini Project</h5>
        <p class="card-text">This is the first year department.</p>
      </div>
    </a></div>
  </div>
  <div class="col">
    <div class="card h-100" class="card h-100"><a href="/pcp" class="text-decoration-none" >
      <img src="https://source.unsplash.com/iar-afB0QQw/1600x900" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Paradigms of Computer Programming</h5>
        <p class="card-text">This is a short card.</p>
      </div></a>
    </div>
  </div>
  <div class="col">
    <div class="card h-100" class="card h-100"><a href="/java" class="text-decoration-none" >
      <img src="" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Java</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div></a>
    </div>
  </div>
  <div class="col">
    <div class="card h-100" class="card h-100"><a href="/math3" class="text-decoration-none">
      <img src="" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Engineering Mathematics 3</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div></a>
    </div>
  </div>
  <div class="col">
    <div class="card h-100" class="card h-100"><a href="/dsa" class="text-decoration-none">
      <img src="" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">DSA</h5>
        <p class="card-text">This is a short card.</p>
      </div></a>
    </div>
  </div>
  <div class="col">
    <div class="card h-100" class="card h-100"><a href="/sql" class="text-decoration-none">
      <img src="" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">SQL</h5>
        <p class="card-text">This is a short card.</p>
      </div></a>
    </div>
  </div>
</div> {% endcomment %}
<div class="btn-group">
  <button class="btn btn-secondary btn-lg" type="button">
    Large split button
  </button>
  <button type="button" class="btn btn-lg btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <div class="dropdown-menu">
    ...
  </div>
</div>
{% endblock body%}