{% extends 'base.html' %}

{%block title%}INFT {% endblock title%}
{%block body%}

<div class="row row-cols-1 row-cols-sm-3 g-4">
  <div class="col">
    <div class="card h-40" class="card h-40"><a href="/lab11a" class="text-decoration-none" >
      <img src="https://source.unsplash.com/_SgRNwAVNKw/600x300" class="card-img-top" alt="..." >
      <div class="card-body">
        <h5 class="card-title">LAB 11 A</h5>
        <p class="card-text"></p>
      </div>
    </a></div>
  </div>
  <div class="col">
    <div class="card h-40" class="card h-40"><a href="/lab11b" class="text-decoration-none" >
      <img src="https://source.unsplash.com/1GntEP783rI/600x300" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">LAB 11 B</h5>
        <p class="card-text"></p>
      </div></a>
    </div>
  </div>
  
</div>


{% endblock body%}