{% extends 'base.html' %}

{%block title%}INFT {% endblock title%}
{%block body%}
<div class="container overflow-hidden pt-4">
<h3 align="center">Lab 5A</h3>

  <div class="row gy-5">
    <div class="col-6"><a href="/lab5acompinfo" class="text-decoration-none" >
      <div class="p-3 border bg-light">Computers Information</div>
    </div></a>
    <div class="col-6"><a href="/lab5aswinfo" class="text-decoration-none" >
      <div class="p-3 border bg-light">Laboratory Information</div>
    </div></a>
    <div class="col-6"><a href="#" class="text-decoration-none" >
      <div class="p-3 border bg-light">Slots</div>
    </div></a>
    <div class="col-6"><a href="/timetable" class="text-decoration-none" >
      <div class="p-3 border bg-light">Timetable</div>
    </div></a>
  </div>
</div>

{% endblock body%}