{% extends 'base.html' %}

{%block title%}INFT {% endblock title%}
{%block body%}
<div class="container overflow-hidden pt-4">
<h3 align="center">Lab 5E</h3>

  <div class="row gy-5">
    <div class="col-6"><a href="/lab5ecompinfo" class="text-decoration-none" >
      <div class="p-3 border bg-light">Computers Information</div>
    </div></a>
    <div class="col-6"><a href="/lab5eswinfo" class="text-decoration-none" >
      <div class="p-3 border bg-light">Laboratory Information</div>
    </div></a>
    <div class="col-6"><a href="/lab5_tt" class="text-decoration-none" >
      <div class="p-3 border bg-light">Book a slot</div>
    </div></a>
    <div class="col-6"><a href="/timetable" class="text-decoration-none" >
      <div class="p-3 border bg-light">Timetable</div>
    </div></a>
  </div>
</div>

{% endblock body%}