{% extends 'base.html' %}

{%block title%}LAB7B SW {% endblock title%}
{%block body%}

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

<body>
<h3 align='center'>LAB 7B Softwares Installed</h3>
<table>
  <tr>
    <th>SoftwareInstalled</th>
    <th>Version</th>
  </tr>

  {% for Lab7B_SW_Inst in lab7binfo_list %}
  <tr>
    <td>{{ Lab7B_SW_Inst.SoftwareInstalled }}</td>
    <td>{{ Lab7B_SW_Inst.Version }}</td>
  </tr>  
  {% endfor %}
</table>

</body>
{% endblock body%}