{% extends 'base.html' %}

{%block title%}INFT {% endblock title%}
{%block body%}

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.center {
  margin-left: 30px;
  margin-right: 30px
}
</style>

<body>
<h3 align='center'>LAB 7A</h3>
<table class="centre">
  <tr>
    <th>Computer Name</th>
    <th>Processor</th>
    <th>RAM</th>
    <th>Hard Disk</th>
    <th>Motherboard</th>
    <th>Basic OS</th>
    <th>Special Purpose</th>
    <th>Date of Purchase</th>
    <th>Working Status</th>
  </tr>

  {% for Lab7A in lab7a_pc_list %}
  <tr>
    <td>{{ Lab7A.ComputerName }}</td>
    <td>{{ Lab7A.Processor }}</td>
    <td>{{ Lab7A.RAM }}</td>
    <td>{{ Lab7A.HardDisk }}</td>
    <td>{{ Lab7A.MotherBoard }}</td>
    <td>{{ Lab7A.Basic_OS }}</td>
    <td>{{ Lab7A.SpecialPurpose }}</td>
    <td>{{ Lab7A.DateOfPurchase }}</td>
    <td>{{ Lab7A.WorkingStatus }}</td>
  </tr>  
  {% endfor %}
</table>

</body>
{% endblock body%}