{% extends 'base.html' %}

{%block title%}LAB7E SW {% endblock title%}
{%block body%}

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
th{
  background-color: #5F9EA0
}
tr:hover {
  background-color: lavender;
}
//tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

<body>
<h3 align='center'>LAB 7E Softwares Installed</h3>
<table>
  <tr>
    <th>SoftwareInstalled</th>
    <th>Version</th>
  </tr>

  {% for Lab7E_SW_Inst in lab7einfo_list %}
  <tr>
    <td>{{ Lab7E_SW_Inst.SoftwareInstalled }}</td>
    <td>{{ Lab7E_SW_Inst.Version }}</td>
  </tr>  
  {% endfor %}
</table>

</body>
{% endblock body%}