{% extends 'base.html' %}

{%block title%}LABCC2 SW {% endblock title%}
{%block body%}

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

<body>
<h3 align='center'>LAB CC2 Softwares Installed</h3>
<table>
  <tr>
    <th>SoftwareInstalled</th>
    <th>Version</th>
  </tr>

  {% for LabCC2_SW_Inst in labCC2info_list %}
  <tr>
    <td>{{ LabCC2_SW_Inst.SoftwareInstalled }}</td>
    <td>{{ LabCC2_SW_Inst.Version }}</td>
  </tr>  
  {% endfor %}
</table>

</body>
{% endblock body%}