{% extends 'base.html' %}

{%block title%}INFT {% endblock title%}
{%block body%}

<div class="row row-cols-1 row-cols-sm-3 g-4">
  <div class="col">
    <div class="card h-40" class="card h-40"><a href="/labcc1" class="text-decoration-none" >
      <img src="https://source.unsplash.com/yp-BBMj_4wM/600x300" class="card-img-top" alt="..." >
      <div class="card-body">
        <h5 class="card-title">LAB CC 1</h5>
        <p class="card-text"></p>
      </div>
    </a></div>
  </div>
  <div class="col">
    <div class="card h-40" class="card h-40"><a href="/labcc2" class="text-decoration-none" >
      <img src="https://source.unsplash.com/WDCE0T4khsE/600x300" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">LAB CC 2</h5>
        <p class="card-text"></p>
      </div></a>
    </div>
  </div>
  <div class="col">
    <div class="card h-40" class="card h-40"><a href="/labcc3" class="text-decoration-none">
      <img src="https://source.unsplash.com/_-1zQPK8tMc/600x300" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">LAB CC 3</h5>
        <p class="card-text"></p>
      </div></a>
    </div>
  </div>
  
</div>


{% endblock body%}