{% extends 'base.html' %}

{%block title%}INFT {% endblock title%}
{%block body%}

<div class="row row-cols-1 row-cols-sm-3 g-4">
  <div class="col">
    <div class="card h-40" class="card h-40"><a href="/labm411a" class="text-decoration-none" >
      <img src="https://source.unsplash.com/QxPRz2oTOWo/600x300" class="card-img-top" alt="..." >
      <div class="card-body">
        <h5 class="card-title">LAB M 411 A</h5>
        <p class="card-text"></p>
      </div>
    </a></div>
  </div>
  <div class="col">
    <div class="card h-40" class="card h-40"><a href="/labm411b" class="text-decoration-none" >
      <img src="https://source.unsplash.com/S2QfaQN86w4/600x300" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">LAB M 411 B</h5>
        <p class="card-text"></p>
      </div></a>
    </div>
  </div>
  <div class="col">
    <div class="card h-40" class="card h-40"><a href="/labm414" class="text-decoration-none">
      <img src="https://source.unsplash.com/WecngmAT-KY/600x300" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">LAB M 414</h5>
        <p class="card-text"></p>
      </div></a>
    </div>
  </div>
  
</div>


{% endblock body%}