{% extends 'base.html' %}

{%block title%}INFT {% endblock title%}
{%block body%}

<div class="row row-cols-1 row-cols-sm-3 g-4">
  <div class="col">
    <div class="card h-40" class="card h-40"><a href="/labm509a" class="text-decoration-none" >
      <img src="https://source.unsplash.com/_SgRNwAVNKw/600x300" class="card-img-top" alt="..." >
      <div class="card-body">
        <h5 class="card-title">LAB M 509 A</h5>
        <p class="card-text"></p>
      </div>
    </a></div>
  </div>
  <div class="col">
    <div class="card h-40" class="card h-40"><a href="/labm509b" class="text-decoration-none" >
      <img src="https://source.unsplash.com/1GntEP783rI/600x300" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">LAB M 509 B</h5>
        <p class="card-text"></p>
      </div></a>
    </div>
  </div>
  <div class="col">
    <div class="card h-40" class="card h-40"><a href="/labm510" class="text-decoration-none" >
      <img src="https://source.unsplash.com/0n70cnyOFgc/600x300" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">LAB M 510</h5>
        <p class="card-text"></p>
      </div></a>
    </div>
  </div>
  <div class="col">
    <div class="card h-40" class="card h-40"><a href="/labm512a" class="text-decoration-none">
      <img src="https://source.unsplash.com/XP9JF6jyRGc/600x300" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">LAB M 512 A</h5>
        <p class="card-text"></p>
      </div></a>
    </div>
  </div>
  <div class="col">
    <div class="card h-40" class="card h-40"><a href="/labm512b" class="text-decoration-none">
      <img src="https://source.unsplash.com/XP9JF6jyRGc/600x300" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">LAB M 512 B</h5>
        <p class="card-text"></p>
      </div></a>
    </div>
  </div>
  <div class="col">
    <div class="card h-40" class="card h-40"><a href="/labm514" class="text-decoration-none">
      <img src="https://source.unsplash.com/XP9JF6jyRGc/600x300" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">LAB M 514</h5>
        <p class="card-text"></p>
      </div></a>
    </div>
  </div>
  <div class="col">
    <div class="card h-40" class="card h-40"><a href="/labm515" class="text-decoration-none">
      <img src="https://source.unsplash.com/XP9JF6jyRGc/600x300" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">LAB M 515</h5>
        <p class="card-text"></p>
      </div></a>
    </div>
  </div>
  <div class="col">
    <div class="card h-40" class="card h-40"><a href="/labm516a" class="text-decoration-none">
      <img src="https://source.unsplash.com/XP9JF6jyRGc/600x300" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">LAB M 516 A</h5>
        <p class="card-text"></p>
      </div></a>
    </div>
  </div>
  <div class="col">
    <div class="card h-40" class="card h-40"><a href="/labm516b" class="text-decoration-none">
      <img src="https://source.unsplash.com/XP9JF6jyRGc/600x300" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">LAB M 516 B</h5>
        <p class="card-text"></p>
      </div></a>
    </div>
  </div>
  <div class="col">
    <div class="card h-40" class="card h-40"><a href="/labm518a" class="text-decoration-none">
      <img src="https://source.unsplash.com/XP9JF6jyRGc/600x300" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">LAB M 518 A</h5>
        <p class="card-text"></p>
      </div></a>
    </div>
  </div>
  <div class="col">
    <div class="card h-40" class="card h-40"><a href="/labm518b" class="text-decoration-none">
      <img src="https://source.unsplash.com/XP9JF6jyRGc/600x300" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">LAB M 518 B</h5>
        <p class="card-text"></p>
      </div></a>
    </div>
  </div>
  
</div>


{% endblock body%}