{% extends 'base.html' %}

{%block title%}INFT {% endblock title%}
{%block body%}

<div class="row row-cols-1 row-cols-sm-3 g-4">
  <div class="col">
    <div class="card h-40" class="card h-40"><a href="/labm310a" class="text-decoration-none" >
      <img src="https://source.unsplash.com/_SgRNwAVNKw/600x300" class="card-img-top" alt="..." >
      <div class="card-body">
        <h5 class="card-title">LAB 310 A</h5>
        <p class="card-text"></p>
      </div>
    </a></div>
  </div>
  <div class="col">
    <div class="card h-40" class="card h-40"><a href="/labm310b" class="text-decoration-none" >
      <img src="https://source.unsplash.com/1GntEP783rI/600x300" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">LAB 310 B</h5>
        <p class="card-text"></p>
      </div></a>
    </div>
  </div>
  <div class="col">
    <div class="card h-40" class="card h-40"><a href="/labm312a" class="text-decoration-none" >
      <img src="https://source.unsplash.com/0n70cnyOFgc/600x300" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">LAB 312 A</h5>
        <p class="card-text"></p>
      </div></a>
    </div>
  </div>
  <div class="col">
    <div class="card h-40" class="card h-40"><a href="/lab312b" class="text-decoration-none">
      <img src="https://source.unsplash.com/XP9JF6jyRGc/600x300" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">LAB 312 B</h5>
        <p class="card-text"></p>
      </div></a>
    </div>
  </div>
  <div class="col">
    <div class="card h-40" class="card h-40"><a href="/lab313a" class="text-decoration-none">
      <img src="https://source.unsplash.com/XP9JF6jyRGc/600x300" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">LAB 313 A</h5>
        <p class="card-text"></p>
      </div></a>
    </div>
  </div>
  <div class="col">
    <div class="card h-40" class="card h-40"><a href="/lab313b" class="text-decoration-none">
      <img src="https://source.unsplash.com/XP9JF6jyRGc/600x300" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">LAB 313 B</h5>
        <p class="card-text"></p>
      </div></a>
    </div>
  </div>
  <div class="col">
    <div class="card h-40" class="card h-40"><a href="/lab314a" class="text-decoration-none">
      <img src="https://source.unsplash.com/XP9JF6jyRGc/600x300" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">LAB 314 A</h5>
        <p class="card-text"></p>
      </div></a>
    </div>
  </div>
  <div class="col">
    <div class="card h-40" class="card h-40"><a href="/lab314b" class="text-decoration-none">
      <img src="https://source.unsplash.com/XP9JF6jyRGc/600x300" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">LAB 314 B</h5>
        <p class="card-text"></p>
      </div></a>
    </div>
  </div>
  
</div>


{% endblock body%}